#AddForm {
    display: none;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid blue;
    margin-top: 20px;
}

/* label, select, input{
    width: 100%;
    padding: 5px;
    font-weight: 800;

}

label, select, input{
    width: 100%;
    padding: 5px;
} */

.table-scrollable {
    overflow-x: auto; /* Enable horizontal scroll */
    white-space: nowrap; /* Prevent table from wrapping */
}

.main-table {
    background-color: #343a40; /* Dark background for the header */
    color: #ffffff; /* White text color */
    width: auto;
}

th, td {
    text-align: center; /* Center align table content */
    padding: 12px;
}

th {
    font-weight: bold; /* Bold headers */
}

tr:nth-child(even) {
    background-color: #f8f9fa; /* Alternate row colors */
}

tr:hover {
    background-color: #e9ecef; /* Row highlight on hover */
}